numpy==2.1.0
cffi==1.16.0

soundfile==0.13.1
torchaudio==2.8.0
torch
pydub==0.25.1
ffmpeg-python==0.2.0
demucs
openai-whisper

transformers==4.53.3
openai==1.99.9
pytube==15.0.0
yt-dlp==2025.08.11
language-tool-python==2.9.4
deep-translator==1.11.4
gTTS==2.5.4
httpx==0.28.1
textstat
srt

streamlit
azure-cognitiveservices-speech
praat-parselmouth
python-dotenv

